#root {
  height: 100vh;
  margin: 0px;
}

.App {
  height: 100%;
  background-color: white;
}

.GridHeader {
  display: grid;
  grid-template-columns: 150px 200px 300px 100px 100px 150px;
  grid-template-rows: 20px;
  gap: 0px 0px;
  grid-template-areas:
    ". . . . . .";
  background-color: #ffa812;
}

.GridWrapper {
  width: 1015px;
  height: calc(100% - 40px);
  margin: auto;
  text-align: center;
  background-color: white;
}

.GridRowOdd {
  padding-top:15px;
  background-color: #37474F;
  color: white;
}

.GridRowEven {
  padding-top:15px;
  background-color: #DEE4E7;
  color:black;
}

.selectedNavEl {
  background-color: white;
  color: black;
}

.NavList {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #222222;
  height: 100%;
}

li {
  float: left;
  height: 100%;
  width:100px;
  text-align: center;
  padding-top: 10px;
  color: white;
  user-select: none;
  cursor: default;
}

.Nav {
  width: 100%;
  min-width: 1015px;
  height: 39px;
  overflow: hidden;
  border-bottom: 1px solid black;
}