.App {
  height: 100%;
  background-color: white;
}

.GridHeader {
  display: grid;
  grid-template-columns: 150px 200px 300px 100px 100px 150px;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . . . .";
}

.ListWrapper {
  width: 1015px;
  height: 90%;
  margin: auto;
  text-align: center;
  background-color: #52057b;

  scrollbar-color: yellow red;
}

.ListItemOdd {
  padding-top:15px;
  background-color: #52057b;
  color: rgb(211, 178, 200);
}

.ListItemEven {
  padding-top:15px;
  background-color: #892cdc;
  color:black;
}


#root {
  height: 100vh;
}
